*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-position: center;
    font-size: 16px;
    padding-top: 75px;/*modificado era de 20px*/ 
}
header{
    background: #085D9C;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}

/*codigo sobre el menu aqui empieza*/
.menu{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.menu .title{/*modificacion del titulo sonido bits, position etc*/
    display: inline-block;
    margin-right: 1em;
    margin: 0px 150px auto;
    vertical-align: 25px;
    animation: heartBeat;
    animation-duration: 8s;
}
.menu .btn-menu{
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
.menu .title{ /*ajustes de titulo sonido bits*/
    font-size:1.5em;
    font-family:'Raleway', sans-serif;
    color: #fff;
    letter-spacing: .5em;
    align-items:center;
}
.menu .enlaces{
    display: inline-block;
    text-align:right;
    word-spacing:-1em;/*este no estaba*/
}
.menu .enlaces a{
    color: #fff;
    text-decoration: none;
    display:inline-grid;
    font-family:'Raleway', sans-serif;
    padding: .6em;/*este separada mayor o menor la casilla azul*/
    text-align: center;
    font-size: 13px;/*estaba en 1em*/
}
.menu .enlaces i{
    margin-right: 5px;
}
.menu .enlaces a:hover{/*color blanco cuando se pase sobre el menu*/
    background: #fff;
    color: #4357ad;
}
#header .menu .logo img{/*ajustes del logo*/
    width: 15%;
    height: 70px;
    margin: 0px -80px;
    margin-top: 2px;
}
/*aqui terminar codigo del menu*/

main{/*en general sin especificar algun tipo de apodo*/
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;/*estaba en 20*/
    background: gray;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
}
.main-title{
    width: 60%;
    max-width: 1000px;
    margin: 10px auto;/*estaba en 20*/
    font-family: 'Overpass', sans-serif;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
    background-color: #fff;
}
.main-u{
    width: 30%;
    max-width: 1000px;
    margin: 10px 50%;/*estaba en 20*/ 
    background: #614385;  
    background: -webkit-linear-gradient(to left, #516395, #614385); 
    background: linear-gradient(to left, #204A9C, #298AEA, #369DD1); 
    font-family: 'Overpass', sans-serif;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
    border-radius: 0px 15px 15px 0px;/*posicion los internos son de lado derecho y externos izquierdo*/
    opacity: .8;
}

.main-u textarea{
    resize: none;
}
.main-u .forw{
     border: none;
     width: 90%;
     max-width: 1000px;
     margin: 2px auto;
}
/*texto del formulario*/

.main-title article h1{
    color: #000;
    font-family: 'Overpass', sans-serif;
}
main hr{/*linea final azul que divide*/
    margin-bottom: 1rem;
    height: 2px;
    background: #4357ad;
    border: none;
}
.frase-for{/*linea final azul que divide*/
    height: 2px;
    background: #4357ad;
    border: none;
    margin: 2px auto;
}
.main-u article li {
    list-style: none;
}
.main-u article .enviar{
    width: 50%;
    height: 30px;
    max-width: 1000px;
    border-radius: 1rem;
}
/*efectos en boton enviar*/
.main-u article .enviar:hover{
    background:linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    animation: animate 4s linear infinite;
}


/*efectos boton de colores termina*/

.main-u article .fore{
    text-align: center;
    font-family: 'Overpass', sans-serif;
    margin: 10px auto;
    color:#fff;
}
.main-u article .for:hover{
   background: #076585;  
   background: -webkit-linear-gradient(to right, #fff, #076585); 
   background: linear-gradient(to right, #fff, #076585); 

}
.main-u article .forw:hover{
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585); 
    background: linear-gradient(to right, #fff, #076585); 
    transform: scale(1.02);
}
.main-final{
    width: 100%;
    max-width: 1350px;
    margin: 0px auto;/*estaba en 20*/
    background:#1F2029;
    color: #fff;
    font-family: 'Overpass', sans-serif;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
    text-align-last: center;
    letter-spacing: 1px;
}
/*efectos del menu*/
.headroom{
    transition: transform .3s ease;
}
.headroom--pinned{
    transform: translateY(0%);
}
.headroom--unpinned{
    transform: translateY(-100%);
}

/*iconos de facebook empieza*/
body .social{
    position:fixed;
    left:0;
    top: 250px;/*posicion en eje Y*/
    z-index: 2000; 
    animation: fadeInLeft;
    animation-duration: 3s;
}
body .social ul{
    list-style: none;
}
body .social ul li a{
    display:table-cell;
    color:#fff;
    background: #000;
    padding: 10px 15px;
    width: 50px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
body .social ul li .fa-facebook-official{background: #3f60a5;}
body .social ul li .fa-youtube-play {background: red;}
body .social ul li .fa-instagram{background: #3f60a5;}
body .social ul li .fa-whatsapp{background: green;}

body .social ul li a:hover{
    padding: 10px 40px;
    border-radius: 0 1rem 1rem 1rem;/*redondeado de las apps sociales*/ 
}
/*iconos de facebook termina */

/*posicionamiento de iconos dentro del formulario*/
.main-u input[type=text],input[type=number],input[type=email]{
     padding-left: 25px;
     width: 90%;
     height: 25px;
}
.main-u input[type=text]:hover,.main-u input[type=number]:hover,
.main-u input[type=email]:hover{
     background: #076585;  
     background: -webkit-linear-gradient(to right, #fff, #076585);  
     background: linear-gradient(to right, #fff, #076585); 
     transform: scale(1.02);
}
.main-u .cuadros-input #name{
     position: absolute;
     margin-left: -12px;
}
.main-u #lastname{
     position: absolute;
     margin-left: -12px;
}
.main-u #city{
     position: absolute;
     margin-left: -12px;
}
.main-u #phone{
     position: absolute;
     margin-left: -12px;
}
.main-u #correo{
     position: absolute;
     margin-left: -12px;
}
/*terminar posicionamiento formulario*/

.icon{/*color de los iconos*/
    min-width: 50px;
    text-align: center;
    color: #000;
    padding: 3px;
}

.main-foto{/*cuadro de lado izquierdo del formulario*/
    width: 90%;
    max-width: 1000px;
    margin: -10px ;/*estaba en 20*/
    background: gray;
    padding: 20px;
    margin-left: -360px;
    position:absolute;
    box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
    background: #1633ab;  
    background: radial-gradient(circle, #1633ab,white,#337DD0,#5DB2DE); 
    border-radius: 15px 0px 0px 15px;
    animation: animate 8s linear infinite;
    background-size: 400%;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.main-foto  img{
    width: 100%;
    max-width: 1000px;
    height: 350px;
    opacity: .7;
}

/*mediaqueries*/
@media screen and (max-width:700px){/*adaptado a moviles*/
  .main-u{
      width: 90%;
      max-width: 1000px;
      height: 430px;
      margin: 20px auto;/*estaba en 20*/
      background-image: #c31432;  
      background: -webkit-linear-gradient(to right, #240b36, #c31432);
      background: linear-gradient(to left, #204A9C, #298AEA, #369DD1);
      font-family: 'Overpass', sans-serif;
      padding: 10px;
      margin-top: -50px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
      border-radius: 0px 0px 5px 5px;
      opacity: .8;
}
    .main-final p{
        text-align: center;
      text-align: justify;
        padding: 12px;
        font-size: 12px;
    }
  .main-title{
      width: 80%;
      max-width: 1000px;
      margin: 80px auto;/*estaba en 20*/
      font-family: 'Overpass', sans-serif;
      padding: 10px;
      text-align: justify;
      box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
      background-color: #fff;
}
}

/*aqui empieza codigo responsive general*/
@media screen and (max-width:700px){/*adaptado a moviles*/
  .main-u .forw{
       border: none;
       width: 80%;
       max-width: 1000px;
}
  .menu .title{ /*ajustes de titulo sonido bits*/
      font-size:1.5em;
      font-family:'Raleway', sans-serif;
      color: #fff;
      letter-spacing: .5em;
      align-items:center;
      margin-top: 20px;
}
    /*mediaqueries*/
  .main-u article input[type=text]{
      padding-left: 25px;
      width: 80%;
}
  .main-u article input[type=number]{
      padding-left: 25px;
      width: 80%;
}
  .main-u article input[type=email]{
      padding-left: 25px;
      width: 80%;
}
  .main-u #name{
      position: absolute;
      padding-left: 2%;
}
  .main-u #lastname{
      position: absolute;
      padding-left: 2%;
}
  .main-u #city{
      position: absolute;
      padding-left: 2%;   
}
  .main-u #phone{
      position: absolute;
      padding-left: 2%;
}
  .main-u #correo{
      position: absolute;
      padding-left: 2%;
}   
}
/*mediaqueries para el menu y redes adaptado a movil*/
@media screen and (max-width:700px){/*redes sociales a moviles*/
  #header .menu .logo .de img{
      width: 60%;
      margin: 0px 40px; 
}
  .menu .title{/*modificacion del titulo sonido bits, position etc*/
      display: inline-block;
      margin-top: 0px;
      margin: 0px 40px;
      text-align: center;
} 
  body .social{
      position:fixed;
      left:0;
      z-index: 2000;
}
  body .social ul{
      list-style: none;
}
  body .social ul li a{
      display:table-cell;
      color:#fff;
      background: #000;
      padding: 10px auto;
      width: 1px;
      max-width: 1px;
      font-size: 10px;
      text-decoration: none;
     -webkit-transition:all 500ms ease;
     -o-transition:all 500ms ease;
      transition:all 500ms ease;
}
  body .social ul li .fa-facebook-official{background: #3f60a5;}
  body .social ul li .fa-youtube-play {background: red;}
  body .social ul li .fa-instagram{background: #3f60a5;}
  body .social ul li .fa-whatsapp{background: green;}

  body .social ul li a:hover{
      padding: 10px 40px;
      border-radius:  1rem;/*redondeado de las apps sociales*/
}
}

@media screen and (max-width: 700px){
  header .menu{
      flex-direction:column;  
}
  header .menu .logo{
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      width: 100%;
      padding: 1em;
}
  header .menu .logo .btn-menu{
      display: inline-block;
}
  header .menu .enlaces{
      width: 100%;
      display: flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content:space-around;
}
}

@media screen and (max-width: 700px){
  .main-foto{
      width: 90%;
      max-width: 1000px;
      height: 430px;
      margin: 20px auto;/*estaba en 20*/
      box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
      background: #1633ab; 
      background: radial-gradient(circle, #E55B2F, #1633ab,#C9BC47,#337DD0,#E8415F); 
      margin-top: -50px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
      border-radius: 0px 0px 5px 5px;
      opacity: .8;
      animation: animate 8s linear infinite;
      background-size: 400%;
      margin-left: 20px;
      visibility: collapse;/*se agrego esto para evitar malos diseños*/
}
  .main-foto img{
      width: 100%;
      height: 100%;
}
}
@media screen and (max-width: 850px){
  .main-foto{
      width: 90%;
      max-width: 1000px;
      height: 430px;
      margin: 20px auto;/*estaba en 20*/
      box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
      background: #1633ab; 
      background: radial-gradient(circle, #E55B2F, #1633ab,#C9BC47,#337DD0,#E8415F); 
      margin-top: -50px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
      border-radius: 0px 0px 5px 5px;
      opacity: .8;
      animation: animate 8s linear infinite;
      background-size: 400%;
      margin-left: 20px;
      visibility: collapse;/*se agrego esto para evitar malos diseños*/
}
  .main-foto img{
      width: 100%;
      height: 100%;
}
    .main-u{/*se agrego para una vista mejor*/
      width: 80%;
      max-width: 1000px;
      height: 400px;
      margin: 20px auto;/*estaba en 20*/
      background-image: #c31432;  
      background: -webkit-linear-gradient(to right, #240b36, #c31432);
      background: linear-gradient(to left, #204A9C, #298AEA, #369DD1);
      font-family: 'Overpass', sans-serif;
      padding: 10px;
      margin-top: -10px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
      border-radius: 0px 0px 5px 5px;
      opacity: .8;
}
}