*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-position: center;
    font-size: 16px;
    padding-top: 75px;/*modificado era de 20px*/   
}
header{
    background: #085D9C;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}
.menu{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.menu .title{/*modificacion del titulo sonido bits, position etc*/
    display: inline-block;
    margin-right: 1em;
    margin: 0px 150px auto;
    vertical-align: 25px;
    animation: heartBeat;
    animation-duration: 8s;
}
.menu .btn-menu{
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
.menu .title{ /*ajustes de titulo sonido bits*/
    font-size:1.5em;
    font-family:'Raleway', sans-serif;
    color: #fff;
    letter-spacing: .5em;
    align-items:center;
}
.menu .enlaces{
    display: inline-block;
    text-align:right;
    word-spacing:-1em;/*este no estaba*/
    
}
.menu .enlaces a{
    color: #fff;
    text-decoration: none;
    display:inline-grid;
    font-family:'Raleway', sans-serif;
    padding: .6em;/*este separada mayor o menor la casilla azul*/
    text-align: center;
    font-size: 13px;/*estaba en 1em*/
}
.menu .enlaces i{
    margin-right: 5px;
}
.menu .enlaces a:hover{/*color blanco cuando se pase sobre el menu*/
    background: #fff;
    color: #4357ad;
}
#header .menu .logo img{
    width: 15%;
    height: 70px;
    margin: 0px -80px;
    margin-top: 2px;
}
.animado{
    opacity: 0;
    transition: all 0.5s;
}
main{
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;/*estaba en 20*/
    background: gray;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
}
.main-u{
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;/*estaba en 20*/
    background: white;
    font-family: 'Overpass', sans-serif;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
}
.main-calendario .cas{
    width: 20%;
    max-width: 1000px;
    height: 30px;
    letter-spacing: 5px;
    font-weight: bold;
}
.main-u .banbon h1{
    font-weight: bolder;
    letter-spacing: 2px;
}
.main-u .calendar-des{
    background: #1984ad;
    background: -webkit-linear-gradient(310deg,#1984ad 39%,#345FB4 30%,#4394D7 70%);
    padding: 10px;
    color: white;
}
.main-u .calendar-des h1{
    font-weight: bolder;
    letter-spacing: 5px;
}
.main-u .des-calendar{
    background: #1984ad;
    background: repeating-linear-gradient(310deg,#1984ad 39%,#2ACEE8 60%,#38A6B7 70%);
    box-shadow: 0px 0px 0px;
    padding: 20px;
}
.main-calendario{
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;/*estaba en 20*/
    background: #1633ab; 
    background: linear-gradient(120deg, #79CAE2, #1E58B3 30%,#0C8FB0 70%,#19A8D2 50%); 
    font-family: 'Overpass', sans-serif;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
}
.main-calendario p{
    text-align: center;
    color: #fff;
}
.main-final{
    width: 100%;
    max-width: 1350px;
    margin: 0px auto;/*estaba en 20*/
    background:#1F2029;
    color: #fff;
    font-family: 'Overpass', sans-serif;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
    text-align-last: center;
    letter-spacing: 1px;
}
main article h1{
    font-weight: normal;
    margin-bottom: .5em;
    text-align: center;
}
main article hr{ /*linea azul que divide */
    margin-bottom: 1em;
    height: 2px;
    background: #4357ad;
    border: none;
}
main hr{/*linea final azul que divide*/
    margin-bottom: 1em;
    height: 2px;
    background: #4357ad;
    border: none;
}
main article .hol{/*linea final azul que divide*/
    margin-bottom: 1em;
    height: 2px;
    background: #4357ad;
    border: none;
}
main article p{
    margin-bottom: 1em;
    text-align: justify;
}
.main-slider .titulo{
    color: #fff;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
}
.main-slider .tit{/*linea final azul que divide*/
    height: 2px;
    background: #4357ad;
    border: none;
    margin: 5px auto;
}
/*efectos del menu*/
.headroom{
    transition: transform .3s ease;
}
.headroom--pinned{
    transform: translateY(0%);
}
.headroom--unpinned{
    transform: translateY(-100%);
}
/*mediaqueries del  logo,etc*/
@media screen and (max-width:700px){
    .main-calendario .cas{
    width: 40%;
    max-width: 1000px;
    height: 30px;
    letter-spacing: 5px;
    font-weight: bold;
    }.main-calendario p{
        text-align: center;
      text-align: justify;
        padding: 12px;
    }
  .main-u .banbon{
      padding: 20px;
    } 
    .main-final p{
        text-align: center;
      text-align: justify;
        padding: 12px;
        font-size: 12px;
    }
  .main-redi article .boton-p{
      width: 100%;
      max-width: 1000px;
      height: 100px;
      font-family: 'Overpass', sans-serif;
      font-size: 30px;
      background-color:#354586;
      color: #fff;
      text-decoration: none;  
}
  .menu .title{ /*ajustes de titulo sonido bits*/
      font-size:1.5em;
      font-family:'Raleway', sans-serif;
      color: #fff;
      letter-spacing: .5em;
      align-items:center;
      margin-top: 20px;
}
  #header .menu .logo .de img{
      width: 60%;
      margin: 0px 40px; 
}
  .menu .title{/*modificacion del titulo sonido bits, position etc*/
      display: inline-block;
      margin-top: 0px;
      margin: 0px 40px;
      text-align: center;
} 
  body .social{
      position:fixed;
      left:0;
      margin: 85px auto;
      margin-top: 220px;
      z-index: 2000;
}
  body .social ul{
      list-style: none;
}
  body .social ul li a{
      display:table-cell;
      color:#fff;
      background: #000;
      padding: 10px auto;
      width: 1px;
      max-width: 1px;
      font-size: 10px;
      text-decoration: none;
      -webkit-transition:all 500ms ease;
      -o-transition:all 500ms ease;
      transition:all 500ms ease;
}
  body .social ul li .fa-facebook-official{background: #3f60a5;}
  body .social ul li .fa-youtube-play {background: red;}
  body .social ul li .fa-instagram{background: #3f60a5;}
  body .social ul li .fa-whatsapp{background: green;}

  body .social ul li a:hover{
      padding: 10px 40px;
      border-radius:  1rem;/*redondeado de las apps sociales*/
    
}
}
/*mediaqueries*/
@media screen and (max-width: 700px){
  header .menu{
      flex-direction:column;
}
  header .menu .logo{
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      width: 100%;
      padding: 1em;
}
  header .menu .logo .btn-menu{
      display: inline-block;
}
  header .menu .enlaces{
      width: 100%;
      display: flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content:space-around;
}
}


/*iconos de redes sociales empieza*/
body .social{
    position: fixed;
    left:0;
    top: 250px;
    z-index: 2000;
    animation: fadeInLeft;
    animation-duration: 3s;
}
body .social ul{
    list-style: none;
}
body .social ul li a{
    display: table-cell;
    color:#fff;
    background: #000;
    padding: 10px 15px;
    width: 50px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
body .social ul li .fa-facebook-official{background: #3f60a5;}
body .social ul li .fa-youtube-play {background: red;}
body .social ul li .fa-instagram{background: #3f60a5;}
body .social ul li .fa-whatsapp{background: green;}


body .social ul li a:hover{
    padding: 10px 40px;
    border-radius: 0 1rem 1rem 1rem;/*redondeado de las apps sociales*/  
}
/*iconos de facebook termina */

.main-slider .container-all .slide img{
    max-width: 120%;
    width: 100%;
    max-height: 550px;
    opacity: .9;
    margin: -20px auto;
}
.main-slider{/*en general sin especificar algun tipo de apodo*/
    width: 110%;
    max-width: 1240px;
    margin: 5px auto 10px auto;/*estaba en 20*/
    background: #2C2220;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
    animation: fadeInDown;
    animation-duration: 2.5s;
}
.main-slider .container-all{
    position: relative;
    max-width: 1200px;
    width: 100%;
    max-height: 550px;
    border-radius: 6px;
    overflow:hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.imagen-select{
    position: relative;
    display: flex;
    flex-direction:column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.BOTON-SELECT{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.boton-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.boton-item:hover{
    transform: scale(2);
}
.boton-item:hover img{
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .BOTON-SELECT .boton-item[for="1"]{
    background: #fff;
}
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .BOTON-SELECT .boton-item[for="2"]{
    background: #fff;
}
input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .BOTON-SELECT .boton-item[for="3"]{
    background: #fff;
}
input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .BOTON-SELECT .boton-item[for="4"]{
    background: #fff;
}
input[id="5"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="5"]:checked ~ .BOTON-SELECT .boton-item[for="5"]{
    background: #fff;
}


@keyframes autoplay{
    20%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    40%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    60%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    80%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 4), 0, 0);
    }
    
}


@media screen and (max-width: 700px){/*slider adaptado a movil*/
  .main-slider .container-all .slide img{
      max-width: 100%;
      height: 40vh;
      padding: 10px;
      opacity: .9;
    
}
  .main-slider{/*en general sin especificar algun tipo de apodo*/
      width: 100%;
      max-width: 1200px;
      height: 50vh;
      margin: 70px auto 10px auto;/*estaba en 60*/
      background: #2C2220;
      padding: 10px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0,75);
      border-radius: .5rem;
    
}
  .BOTON-SELECT{
      position: absolute;
      bottom: 10px;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
}

}

